@charset "UFF-8";

body {
    background-color: red;
} 
header, header > nav#menu {
flex-flow: column nowrap;
}

header > h1 {
    flex-basis: 50px;
}
header > nav > a {
    width: 90vw;
}

/*header > nav#menu {
    display: block;
 } */
    


i#burguer {
    flex-basis: 40px;
    display: block;
    width:  90vw;
    background-color: rgb(69, 69, 69);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
i#burguer:hover {
    background-color: white;
    color: black;
}