@charset "UTF-8";

.container {
    display: grid;
    height:500px;
    width: 600px;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-columns: 10fr 5fr;
    
}
.topo {
    grid-area: 1 / 1 / 2 / 3;
    border: 1px solid rgba(0, 0, 0, 0.651);
    text-align: center;
    padding-top: 20px;
}
.menu {
    grid-area: 2 / 1 / 3 / 3;
    border:1px solid rgba(0, 0, 0, 0.651);
    text-align: center;
    padding-top: 20px;
}
.principal {
    grid-area: 3 / 1 / 4 / 2;
    border: 1px solid rgba(0, 0, 0, 0.651);
    text-align: center;
    padding-top: 20px;
}
.secundario {
    grid-area: 3 / 2 / 4 / 3;
    border: 1px solid rgba(0, 0, 0, 0.651);
    text-align: center;
    padding-top: 20px;
}
.rodape {
    grid-area: 4 / 1 / 5 / 3;
    border: 1px solid rgba(0, 0, 0, 0.651);
    text-align: center;
    padding-top: 20px;
}
